<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up"><span class="typed">METDIES</span></h1>
        <h2 data-aos="fade-up" data-aos-delay="400">Marco de Evaluación de Transformación Digital para Instituciones
          de Educación Superior del Ecuador
        </h2>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center text-lg-start">
            <!-- <a [routerLink]="['/loginuser']"
              class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Usuario</span>
              <i class="bi bi-arrow-right"></i>
            </a>
            <a [routerLink]="['/loginadmin']"
              class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center btnadmin">
              <span>Administrador</span>
              <i class="bi bi-arrow-right"></i>
            </a> -->
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="../assets/img/hero-img.png" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>
</section><!-- End Hero -->
<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="row gx-0">
      <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
        <div class="content">
          <h3>¿Qué es la Transformación Digital?</h3>
          <h2>La Transformación Digital implica un cambio radical en todas las organizaciones.</h2>
          <p>
            La Transformación Digital se define como un proceso en el cual se integran nuevas tecnologías para
            optimizar los procesos y
            procedimientos que desarrollan las distintas organizaciones, esto implica el rediseño de la forma actual
            con la que trabajan y un cambio cultural de los hábitos y
            comportamientos que tienen las organizaciones y las personas.
          </p>
          <div class="text-center text-lg-start">
            <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Leer más</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/nu0vXDWTcx0" title="YouTube video player"
          frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
           gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section><!-- End About Section -->
<!-- ======= Features Section ======= -->
<section id="features" class="features">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>CaracterÍsticas</h2>
      <p>Información de METDIES</p>
    </header>
    <!-- METDIES -->
    <div class="row feture-tabs fea" data-aos="fade-up">
      <div class="col-lg-6">
        <h3>¿Qué es METDIES?</h3>
        <!-- Tabs -->
        <ul class="nav nav-pills mb-3">
          <li>
            <a class="nav-link active" data-bs-toggle="pill" href="#tab1">Descripción</a>
          </li>
          <li>
            <a class="nav-link" data-bs-toggle="pill" href="#tab2">Estructura</a>
          </li>
          <li>
            <a class="nav-link" data-bs-toggle="pill" href="#tab3">Niveles</a>
          </li>
          <li>
            <a class="nav-link" data-bs-toggle="pill" href="#tab4">Aplicación</a>
          </li>
        </ul><!-- End Tabs -->
        <!-- Tab Content -->
        <div class="tab-content">
          <div class="tab-pane fade show active" id="tab1">
            <p>METDIES es un marco orientado a evaluar el nivel de Transformación Digital de las Instituciones de
              Educación Superior del Ecuador. A continuación, se describen los objetivos planteados:</p>
            <div class="d-flex align-items-center mb-2">
              <i class="bi bi-check2"></i>
              <h4>Definir el marco de medición</h4>
            </div>
            <p>El objetivo principal es definir un modelo que permita evaluar el nivel de Transformación Digital en
              todas
              las áreas que conforman las Instituciones de Educación Superior.
              <div class="d-flex align-items-center mb-2">
                <i class="bi bi-check2"></i>
                <h4>Automatizar el marco de medición</h4>
              </div>
              <p>Desarrollar una aplicación web que permita automatizar el proceso de evaluación del nivel de
                Transformación
                Digital en las Instituciones de Educación Superior.</p>
          </div><!-- End Tab 1 Content -->
          <div class="tab-pane fade show" id="tab2">
            <p>La estructura de METDIES se adapta a un proceso de jerarquía analítica, cuyo diseño se basa en la
              estructura
              del Modelo Abierto de Madurez Digital (ODMM) y el Marco Europeo para Organizaciones Educativas
              Digitalmente
              Competentes (DigCompOrg). A continuación, se describe la estructura establecida para METDIES:</p>
            <!-------
                ------------>
            <div class="d-flex align-items-center mb-2">
              <img src="../assets/img/portfolio/est.png" class="img-fluid2" alt>
            </div>
          </div><!-- End Tab 2 Content -->
          <div class="tab-pane fade show" id="tab3">
            <p>En base los niveles descritos en la guía de CMMI, se han establecidos 5 niveles de transformación,
              los cuales pertenecen a
              una representación por etapas.</p>
            <div class="d-flex align-items-center mb-2">
              <img src="../../assets/img/arq1.png" class="img-fluid1" alt="">
            </div>
          </div><!-- End Tab 3 Content -->
          <div class="tab-pane fade show list" id="tab4">
            <p>METDIES está diseñado para que pueda ser aplicado en diferentes Instituciones de Educación
              Superior, tales como: </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Universidades</li>
              <li><i class="ri-check-double-line"></i> Escuelas Politécnicas</li>
              <li><i class="ri-check-double-line"></i> Institutos Superiores Técnicos</li>
              <li><i class="ri-check-double-line"></i> Institutos Superiores Tecnológicos</li>
              <li><i class="ri-check-double-line"></i> Institutos Superiores Pedagógicos</li>
              <li><i class="ri-check-double-line"></i> Conservatorio Superior</li>
            </ul><br>
            <p><strong>Nota: </strong>Sin embargo, se recomienda que se aplique en Instituciones de Educación
              Superior avanzadas</p>
          </div><!-- End Tab 3 Content -->
        </div>
      </div>
      <div class="col-lg-6">
        <img src="assets/img/features-2.png" class="img-fluid" alt="">
      </div>
    </div><!-- End Feature Tabs -->
    <!-- Feature Icons -->
  </div>
</section><!-- End Features Section -->
<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us section-bg">
  <div class="container-fluid" data-aos="fade-up">
    <header class="section-header">
      <h2>METDIES</h2>
      <p>Dimensiones Evaluadas</p>
    </header>
    <div class="row us1">
      <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
        <div class="content">
          <h3>Descripción de las Dimensiones evaluadas en <strong>METDIES</strong></h3>
          <p id="descrip">
            METDIES esta conformado por 6 dimensiones, las cuales se describen a continuación:
          </p>
        </div>
        <div class="accordion-list">
          <ul>
            <li>
              <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span>
                Dinamismo Estratégico<i class="bx bx-chevron-down icon-show"></i><i
                  class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                <p>
                  Esta dimensión esta orientada en evaluar la estrategia digital que han establecido las
                  Instituciones de Educación Superior, con el objetivo de definir una visión y objetivos claros
                </p> <br>
                <div class="flex-container3">
                 <!--  <div><button type="button" class="btn btn-primary" [routerLink]="['/dimensiones']">Leer Más</button>
                  </div>
                  <div><button type="button" class="btn btn-primary" [routerLink]="['/dimensiones']">Evaluar</button>
                  </div> -->
                </div>
              </div>
            </li>
            <li>
              <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span>
                Centrado en el Cliente <i class="bx bx-chevron-down icon-show"></i><i
                  class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                <p>
                  Esta dimensión esta orientada en evaluar el uso de la información del cliente para personalizar y
                  mejorar la experiencia brindada
                </p><br>
                <div class="flex-container3">
                  <!-- <div><button type="button" class="btn btn-primary" [routerLink]="['/dimensiones']">Leer Más</button>
                  </div>
                  <div><button type="button" class="btn btn-primary" [routerLink]="['/dimensiones']">Evaluar</button>
                  </div> -->
                </div>
              </div>
            </li>
            <li>
              <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span>
                Cultura Digital, Talento y Habilidades <i class="bx bx-chevron-down icon-show"></i><i
                  class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                <p>
                  Esta dimensión esta orientada en evaluar el entorno y la estructura de trabajo digital establecida
                  en la Institución
                </p><br>
                <div class="flex-container3">
                  <!-- <div><button type="button" class="btn btn-primary" [routerLink]="['/dimensiones']">Leer Más</button>
                  </div>
                  <div><button type="button" class="btn btn-primary" [routerLink]="['/dimensiones']">Evaluar</button>
                  </div> -->
                </div>
              </div>
            </li>
            <li>
              <a data-bs-toggle="collapse" data-bs-target="#accordion-list-4" class="collapsed"><span>04</span>
                Innovación y Entrega Ajustada <i class="bx bx-chevron-down icon-show"></i><i
                  class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-4" class="collapse" data-bs-parent=".accordion-list">
                <p>
                  Esta dimensión esta orientada en evaluar la creación, entrega rápida y eficiente de los
                  servicios/productos digitales
                </p><br>
                <div class="flex-container3">
                  <!-- <div><button type="button" class="btn btn-primary" [routerLink]="['/dimensiones']">Leer Más</button>
                  </div>
                  <div><button type="button" class="btn btn-primary" [routerLink]="['/dimensiones']">Evaluar</button>
                  </div> -->
                </div>
              </div>
            </li>
            <li>
              <a data-bs-toggle="collapse" data-bs-target="#accordion-list-5" class="collapsed"><span>05</span>
                Liderazgo Tecnológico <i class="bx bx-chevron-down icon-show"></i><i
                  class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-5" class="collapse" data-bs-parent=".accordion-list">
                <p>
                  Esta dimensión esta orientada en evaluar la capacidad para adoptar nuevas tecnologías junto con
                  una gobernanza tecnológica eficaz y el uso coherente de los datos
                </p><br>
                <div class="flex-container3">
                  <!-- <div><button type="button" class="btn btn-primary" [routerLink]="['/dimensiones']">Leer Más</button>
                  </div>
                  <div><button type="button" class="btn btn-primary" [routerLink]="['/dimensiones']">Evaluar</button>
                  </div> -->
                </div>
              </div>
            </li>
            <li>
              <a data-bs-toggle="collapse" data-bs-target="#accordion-list-6" class="collapsed"><span>06</span>
                Innovación Educativa <i class="bx bx-chevron-down icon-show"></i><i
                  class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-6" class="collapse" data-bs-parent=".accordion-list">
                <p>
                  Esta dimensión esta orientada en evaluar en que medida la Institución actualiza sus prácticas de
                  enseñanza y aprendizaje para aprovechar el potencial de las tecnologías
                </p><br>
                <div class="flex-container3">
                  <!-- <div><button type="button" class="btn btn-primary" [routerLink]="['/dimensiones']">Leer Más</button>
                  </div>
                  <div><button type="button" class="btn btn-primary" [routerLink]="['/dimensiones']">Evaluar</button>
                  </div> -->
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
        style='background-image: url("assets/img/why-us.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
    </div>
  </div>
</section><!-- End Why Us Section -->
<!-- ======= F.A.Q Section ======= -->
<section id="faq" class="faq pref">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>F.A.Q</h2>
      <p>Preguntas Frecuentes</p>
    </header>
    <div class="row">
      <div class="col-lg-6">
        <!-- F.A.Q List 1-->
        <div class="accordion accordion-flush" id="faqlist1">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq-content-1">
                METDIES se puede aplicar en cualquier Institución de Educación Superior?
              </button>
            </h2>
            <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
              <div class="accordion-body">
                METDIES esta diseñado para que pueda ser aplicado en universidades, institutos superiores
                tecnológicos y técnicos.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq-content-2">
                Es necesario resolver todo el cuestionario de la aplicación web?
              </button>
            </h2>
            <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
              <div class="accordion-body">
                Para obtener un análisis correcto del nivel de Transformación Digital, se requiere que el usuario
                resuelva todas las preguntas establecidas en el cuestionario.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq-content-3">
                Que resultado se obtiene con la aplicación de este marco de evaluación?
              </button>
            </h2>
            <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
              <div class="accordion-body">
                Con la resolución del cuestionario establecido, se obtiene un reporte; en el cual se visualiza el
                nivel de
                Transformación Digital existente en cada dimensión evaluada y el nivel general de toda la
                institución. Adicionalmente
                se obtienen recomendaciones para mejorar el nivel de Transformación Digital calculado.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <!-- F.A.Q List 2-->
        <div class="accordion accordion-flush" id="faqlist2">

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq2-content-1">
                Es necesario seguir un orden especifico en la resolución del cuestionario?
              </button>
            </h2>
            <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
              <div class="accordion-body">
                El usuario puede seleccionar la dimensión que desea comenzar a evaluar; sin embargo, es necesario
                que resuelva todas las dimensiones establecidas.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq2-content-2">
                La información registrada en la aplicación web es publicada?
              </button>
            </h2>
            <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
              <div class="accordion-body">
                Toda la información registrada en la aplicación web es confidencial y únicamente puede ser
                visualizada por
                la Institución de Educación Superior que realizo la evaluación y el administrador de la aplicación
                web para fines
                educativos.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq2-content-3">
                Cómo se resuelven las preguntas establecidas?
              </button>
            </h2>
            <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
              <div class="accordion-body">
                Cada pregunta se resuelve asignando una puntuación del 1 al 5, según la escala de respuesta
                asignada.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End F.A.Q Section -->
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>Galería</h2>
      <p>Imagenes METDIES</p>
    </header>
    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">Estructura</li>
          <li data-filter=".filter-card">Niveles</li>
          <li data-filter=".filter-web">Proceso</li>
        </ul>
      </div>
    </div>
    <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="../assets/img/portfolio/est.png" class="img-fluid" alt />
          <div class="portfolio-info">
            <h4>Estructura</h4>
            <p>Estructura de METDIES</p>
            <div class="portfolio-links">
              <a href="../assets/img/portfolio/est.png" data-gallery="portfolioGallery" class="portfokio-lightbox"
                title="Estructura METDIES">
                <i class="bi bi-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img src="../assets/img/portfolio/niveles.png" class="img-fluid" alt />
          <div class="portfolio-info">
            <h4>Niveles</h4>
            <p>Niveles de Transformación Digital</p>
            <div class="portfolio-links">
              <a href="../assets/img/portfolio/niveles.png" data-gallery=" portfolioGallery" class="portfokio-lightbox"
                title="Niveles de Transformación Digital">
                <i class="bi bi-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="../assets/img/portfolio/ies.png" class="img-fluid" alt />
          <div class="portfolio-info">
            <h4>Proceso</h4>
            <p>Proceso METDIES</p>
            <div class="portfolio-links">
              <a href="../assets/img/portfolio/ies.png" data-gallery="portfolioGallery" class="portfokio-lightbox"
                title="Proceso METDIES">
                <i class="bi bi-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Portfolio Section -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>Contacto</h2>
      <p>Déjanos tu Comentario </p>
    </header>
    <div class="row gy-4">
      <div class="col-lg-6">
        <div class="row gy-4">
          <div class="col-md-6">
            <div class="info-box">
              <i class="bi bi-geo-alt"></i>
              <h3>Dirección</h3>
              <p>Loja, Ecuador</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-box">
              <i class="bi bi-envelope"></i>
              <h3>Email</h3>
              <p>metdies@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <form action="forms/contact.php" method="post" class="php-email-form">
          <div class="row gy-4">
            <div class="col-md-6">
              <input type="text" name="name" class="form-control" placeholder="Nombre" required>
            </div>
            <div class="col-md-6 ">
              <input type="email" class="form-control" name="email" placeholder="Email" required>
            </div>
            <div class="col-md-12">
              <input type="text" class="form-control" name="subject" placeholder="Asunto" required>
            </div>
            <div class="col-md-12">
              <textarea class="form-control" name="message" rows="6" placeholder="Mensaje" required></textarea>
            </div>
            <div class="col-md-12 text-center">
              <div class="loading">Cargando</div>
              <div class="error-message"></div>
              <div class="sent-message">Tu mensaje ha sido enviado. Gracias!</div>
              <button type="submit">Enviar Mensaje</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section><!-- End Contact Section -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>
