#reporte{
    margin-top: 6em;
}
.container2{
    width: 1000px;
    margin: 366px auto;
    background-color: #ffff;
    padding: 50px 40px;
    overflow: hidden;
    box-shadow: 0 0 3px 1px #00000078;
    margin-top: -34px;
    height: 563px;
}
#services2{
    height: 785px;
}
.section-headerm{

margin: 10px 0 0 0;
padding: 0;

line-height: 42px;
font-weight: 700;
color: #012970;
}
.sel{
    font-size: 30px;
}
.p-2 {
    padding: 0.5rem !important;
    margin-top: -31px;
}
.bienv{
    font-size: 17px;
    margin-top: -24px;
}

.botonmenu{

    margin: 9px;
}
.menun{
 
    margin-left: 236px;
}
.menp{
        text-align: justify;
        font-size: 16px;
}
.men{
    font-size: 20px;
}